@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import './theme.css';

/*
:root {
  --primary-color: #000;
  --base-font: 'Open Sans', sans-serif;
  --transition: all 0.6s ease-in-out;
}
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply not-italic font-normal text-base leading-normal font-sans2 overflow-x-hidden;
}

/* ::selection {

} */

main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.goal-form-control {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.goal-input {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  min-width: 250px;
  max-width: 600px;
  margin: 1.5rem 0;
  font-size: 1.0625rem;
  border-radius: 5px;
  border: 2px solid #aaa;
  caret-color: #07ff22;
}

/* .goal-input::before {
  content: '*';
  font-weight: bold;
} */

/* .goal-input.goal-input-desc {
  height: 10rem; */
/* overflow: auto;
} */

.goal-input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: bold;
  padding-left: 0.8rem;
}

.goal-input::-moz-placeholder {
  color: #aaa;
  font-weight: bold;
  padding-left: 0.8rem;
}

.goal-input:-ms-input-placeholder {
  color: #aaa;
  font-weight: bold;
  padding-left: 0.8rem;
}

.goal-input::-ms-input-placeholder {
  color: #aaa;
  font-weight: bold;
  padding-left: 0.8rem;
}

.goal-input::placeholder {
  color: #aaa;
  font-weight: bold;
  padding-left: 0.8rem;
}

.goal-input:focus {
  border: 2px solid gold;
  outline: none;
}
