@theme {
  --color-primary: #b9bbc4;
  --color-primary-light: #dcdde2;
  --color-secondary: #2c4e6d;
  --color-tertiary: #6d9bc3;
  --color-quaternary: #0f9397;
  --color-quinary: #0a4aaa;
  --color-alternative: #dbe9f4;
  --color-light: #fcfbfc;
  --color-dark: #000814;
  --color-selection: #9ec6d6;
  --color-heads: #313131;
  --font-sans: 'Bebas Neue', sans-serif;
  --font-sans2: 'Lato', sans-serif;
  --text-2-5xl: 1.75rem;
  --text-3-5xl: 2rem;
  --text-4-5xl: 2.5rem;
}
